// Tailwind integration
@tailwind base;
@tailwind components;
@tailwind utilities;

p { @apply mb-2; }

.btn {
    width: 100px;
    @apply  text-white text-center;
    
    &-submit {
        @apply bg-blue-500;
        &:hover {
            @apply bg-blue-700;
        }
        .ico-copy { display: none; }
    }
    
    &-copy {
        @apply bg-purple-500;
        &:hover {
            @apply bg-purple-700;
        }
        .ico-flash { display: none; }
    }
    
    &-done {
        @apply bg-green-500;
        &:hover {
            @apply bg-green-700;
        }
    }
}

.ico {
    
    &-flash {
        @apply w-5 inline;
    }
    
    &-copy{
        @apply w-5 inline;
    }
}

.alert {
    @apply px-4 py-3 rounded relative;
    
    &-danger {
        @apply bg-red-100 border border-red-400 text-red-700;
    }
    
    &-success {
        @apply bg-green-100 border border-green-400 text-green-700;
    }
}

.active {
    @apply font-semibold underline;
}

.input {
    @apply appearance-none shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight;
    &:focus {
        @apply outline-none ring;
    }
}